<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="/index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="/index/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<link href="/index/css/font-awesome.css" rel="stylesheet">
<!-- 分享 -->
<link href="/index/share/css/share.css" rel="stylesheet" type="text/css">
<!-- 弹窗 -->
<script src="/index/js/jquery.min.js"></script>
<script src="/index/layer/layer.js" type="text/javascript"></script>
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<script src="/index/login/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/index/js/jquery.min.js"></script>
<script src="/index/js/bootstrap.min.js"></script>
<!---->
<link rel="stylesheet" href="/index/css/flexslider.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
<!--strat-date-piker-->
<!-- requried-jsfiles-for owl -->
							<link href="/index/css/owl.carousel.css" rel="stylesheet">
							    <script src="/index/js/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items : 1,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
							 <!-- //requried-jsfiles-for owl -->

</head>
<body>

    <div class="header">
		<div class="container">
			<div class="header-menu">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <div class="navbar-brand logo">
								<h1><a href="index.html"><span></span></a></h1>
							</div>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



						  <ul class="nav navbar-nav">
							
							{if empty($Think.session.username)}
							{else}
							<li><a href="/index/User/userInfo">
								尊敬的用户 
								{if !empty($user['realyname'])}
									{$user['realyname']}
								{else}
									{$user['username']}
								{/if}
								</a>
							</li>
							{/if}
							
							<li class="active"><a href="/index/index/index" data-hover="Home">首页</a></li>
							<li><a href="/index/Meal/meal" data-hover="About">房间餐</a></li>
							<li><a data-hover="Restaurant" href="/index/Restaurant/restaurant">餐厅</a></li>
							<li><a data-hover="Gallery" href="/index/Describe/describe">简介</a></li>
							<li><a data-hover="Rooms" href="/index/Rooms/rooms">房间</a></li>
							<li><a  href="/index/Destine/destine" data-hover="codes">预定</a></li>
							<li><a data-hover="Contact" href="/index/Contact/contact.html">留言</a></li>
							{if empty($Think.session.username)}
							<li><a href="/index/User/login">登录/注册</a></li>
							{else}

							<li><a href="/index/User/loginOut">退出</a></li>
							{/if}
						  </ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			<div class="clearfix"></div>
			</div>	
		</div> 
	</div>
		<!--header-->		
		<div class="content">
			
			
			<div class="testimonial-section">
				<div class="container">
					<h3 class="tittle">用户信息</h3>
					<div class="testimonial-grids">
						<div class="col-md-6 testimonial-grid">
							<div class="testimonial-left">
								<img src="{$user.picture}" class="img-responsive" alt=""/>
							</div>
							<div class="testimonial-right">
								<div class="testimonial-text">
									<h5>用户名:{$user['username']}</h5>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="clearfix"></div>
									<p>真实姓名:{$user.realyname}</p>
									<p>手机号:{$user.tel}</p>
									<p>邮箱:{$user.email}</p>
									<p>身份证:{$user.usersfz|substr=0,14}****</p>
									<p>钱包:<span style="color:red;">{$user.u_money}</span></p>
									<a href=/codepay/index.php?user={$user['username']}><button type="button" class="btn btn-lg btn-success" style="font-size:10px;">充值</button></a>
									<div class="testimonial-sign">-个人信息</div>

								</div>
								<div class="clearfix"></div>
						</div>

						<div class="col-md-6 testimonial-grid test3">
							<div class="testimonial-left">
								
									<form action="/index/index/upload" enctype="multipart/form-data" method="post">
									
	            					<input type="file" name="image" style="height:20px;width:75px;" />
	            					
	            					<input type="submit" value="上传头像" style="margin-top:20px;"/>
	            					</form>
	            					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=564732320&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3122962752:51" alt="点击这里给我发消息" title="点击这里给我发消息"/ style="margin-top:50px;"></a>
        						
							</div>
							<div class="testimonial-right">
								<div class="testimonial-text">
									<h5></h5>
								</div>
								<div class="testimonial-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="clearfix"></div>
								<span>真实姓名：</span>
								<p><input type="text" name="realyname" value="{$user.realyname}" autocomplete="off"></p>
								<span>手机：</span>
								<p><input type="text" name="tel" value="{$user.tel}" autocomplete="off"></p>
								<span>邮箱：</span>
								<p><input type="text" name="email" value="{$user.email}" autocomplete="off"></p>
								<span>身份证：</span>
								<p><input type="text" name="usersfz" value="{$user.usersfz|substr=0,14}****" autocomplete="off"></p>
								<div class="testimonial-sign"><button type="submit" name="xinxi" id="xingxi">完善个人信息</button></div>
							
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="luckydraw">
			<h3 class="tittle">消费之前抽大奖</h3>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/index/User/luckydraw"><img src="/index/images/paoma2.gif"></a>
		</div>

		<div class="footer-section">
			<div class="container">
				<div class="footer-grids">
					<div class="col-md-3 footer-grid">
						<h4>和我们联系</h4>
						<ul>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i> Office : 0041-456-3692</li>
							<li><i class="glyphicon glyphicon-phone" aria-hidden="true"></i> Mobile : 0200-123-4567</li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i> <a href="#"><a href="mailto:info@example.com">info@example.com</a></a></li>
							<li><i class="glyphicon glyphicon-print" aria-hidden="true"></i> Fax : 0091-789-456100</li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4></h4>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4></h4>
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div class="col-md-3 footer-grid">
						<h4>分享给朋友们</h4>
						<!-- <ul>
							<li>Room services</li>
							<li>Free internet Wifi</li>
							<li>Television (50 channels)</li>
							<li>Pets allowed</li>
						</ul> -->
						<div>
							<center>
							<div class="share-demo">
								<a href="javascript:void(0)" class="share"><img src="/index/share/images/share-ico.png"/></a>
							</div>
							<script type="text/javascript" src="/index/share/js/share.js"></script>
							<script  type="text/javascript">
								$('.share').shareConfig({
									Shade : true, //是否显示遮罩层
									Event:'click', //触发事件
									Content : 'Share', //内容DIV ID
									Title : '站长素材' //显示标题
								});
							</script>
							</center>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>	
		<!--footer-->
			<div class="copy-section">
				<div class="container">
					<div class="footer-top">
						<p><a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
					</div>
					<div class="social-icons">
						<a href="#"><i class="icon"></i></a>
						<a href="#"><i class="icon1"></i></a>
						<a href="#"><i class="icon2"></i></a>
						<a href="#"><i class="icon3"></i></a>
					</div>
				</div>
			</div>
	<!--footer-->

</body>
<script type="text/javascript">
function cong()
{
	layer.open({
		  type: 1,
		  title:'充值',
		  skin: 'layui-layer-rim', //样式类名
		  area: ['230px', '180px'], //宽高
		  closeBtn: 0, //不显示关闭按钮
		  anim: 2,
		  shadeClose: true, //开启遮罩关闭
		  content:"<textarea id='money'></textarea>",
		  btn: ['确定','取消'],
		  yes:function(index,layero){
				$.ajax({
					"type":"post",
			        "url":"/index/Index/addMoney",
			        "dataType":"json",
			        "data":{"money":layero.find('#money').val()},
			        success:function(data){
			        	if(data == 1){
			        		layer.msg('充值成功！',{icon:1,time:1000},function () {
				    			window.location.reload();
				    		});
			        	}	
		        	}
				})
		  }
	});
		
};
	$('#xingxi').on('click' , function(){
		
		$.ajax({
    			"type":"post",
            	"url":"/index/Index/userInfo",
           		"dataType":"json",
           		"async":true,
            	"data":{
            	"realyname":$("p input[name=realyname]").val(),
            	"tel":$("p input[name=tel]").val(),
            	"email":$("p input[name=email]").val(),
            	"usersfz":$("p input[name=usersfz]").val(),
                },
           		"success":check
    	});
	});
	function check(data){
		if(data == 1){
			alert('姓名不能为空');
		}else if(data ===2){
			alert('手机号或邮箱或身份证不能为空');
		}else if(data ==3){
			alert('格式不正确');
		}else if(data ==4){
			window.location.href="/index/index/index";
		}
    };

</script>
<script>  
    $(function(){  
        var wsServer = 'ws://xxxx:xxxx';  
        var ws = new WebSocket(wsServer);  
        //alert("22");  
        ws.onopen = function(e){  
            //alert("连接成功");  
        }  
        ws.onclose = function(e){  
            alert("连接关闭");  
        }  
        ws.onerror = function (e) {  
            //alert("连接错误");  
        }  
        ws.onmessage = function (evt) {  
            //alert(evt);  
            //alert("22");  
            var data=JSON.parse(evt.data);  
            alert(data.message);  
            //var message=JSON.stringify(evt.data);  
            //alert(message);  
            //发送字符串，服务器端只需要unmask就可以了，如果是json串，后端就要json_decode  
        };  
        $(":button").click(function(){  
            var message=$("#message").val();  
            console.log(ws.send(message));  
        })  
    })  
</script>
</html>
